  /**
   * Add item to the ${AttributeName} array. If the array is null the array will be initialised
   */
  public function addTo${AttributeName}(inItem : ${AttributeType}){
    if(${AttributeParent}.${AttributeName} == null){
      ${AttributeParent}.${AttributeName} = new ArrayList<${AttributeType}>().toTypedArray()
    }
  }
