  /**
   * Remove item to the ${AttributeName} array.
   */
  public function removeFrom${AttributeName}(inItem : ${AttributeType}){
    if(${AttributeParent}.${AttributeName}.contains(inItem)){
      ${AttributeParent}.${AttributeName}.remove(inItem)
    }
  }
